.report {
    margin-top: 208px;
}

.sidebar {
    width: 208px;
    height: 150vh;
    position: fixed;
    padding-bottom: 300px;
}

.content {
    overflow: auto;
    margin-left: 250px;
    width: 100%;
   
}

.table{
    border-collapse:collapse;
    overflow: auto;
}
table, th, td{
    border:1px solid black;
}
.col{
    text-align: center;
}



.home .content .col-md-3 {
    border: 2px solid white;
}