.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-bottom: 100px;
}

.content {
    overflow: auto;
    margin-left: 205px;
    
}
.home{
    margin-top: 150px;

}


.home .content .col-md-3 {
    border: 2px solid white;
}