.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #f5f6f8;
  display: flex;
}
.sideBar {
  width: 200px;
  background-color: #fff;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  /* border-right: 1px solid #fff; */
}
.content {
  width: calc(100vw - 200px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
